<template>
      <navbar />
      <main>
          <div id="container">
              <home />
              <about />
              <skills />
              <projects />
          </div>
      </main>
</template>

<script>
import Navbar from '~/components/Navbar.vue';
import Home from '~/components/Home.vue';
import AboutMe from '~/components/AboutMe.vue';
import Skills from '~/components/Skills.vue';
import Projects from '~/components/Projects.vue';

export default {
  components: {
      navbar: Navbar,
      home: Home,
      skills: Skills,
      about: AboutMe,
      projects: Projects
  }
};
</script>

<style lang="scss">
@import 'assets/styles/global.css';
@import 'assets/styles/socialButtons.css';
@import 'assets/styles/section.css';
@import 'assets/styles/navbar.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import 'assets/styles/imagehover.min.css';
</style>
