<template>
    <section id="about">
        <span class="section-title">About me</span>

        <div class="section-content" style="">
            <figure class="imghvr-fade">
                <img src="/images/coding.webp" alt="Man coding" />
                <figcaption>
                    Technology vector created by pikisuperstar - freepik.com
                </figcaption>
            </figure>
            <p>
                I graduated with a <span class="highlight">Master’s degree</span> in Computer
                Science, more precisely in <span class="italic">Multimedia Design and Creation</span>. During the 2nd year of my Bachelor, we had Web
                development course in which I found my new passion. <br /><br />
                Seeing your project slowly come alive is very satisfying. When
                it comes to skills, I love the problem solving aspect of web
                development and I'm always eager to learn new languages and
                frameworks if my project ideas are above my current skill
                level.<br /><br />

                I'm also involved in Ubisoft game's communities and they made me
                join their
                <a
                    href="https://creatorsprogram.ubisoft.com/en-us"
                    rel="noreferrer norelopener"
                    title="Ubisoft Creators Program"
                    target="_blank"
                    >Creators Program</a
                >
                .
            </p>
        </div>
    </section>
</template>

<script lang="ts">
</script>

<style lang="scss" scoped>
figure {
    margin-right: 10px;
}
</style>
