<template>
  <section id="home">
    <span class="section-title">Introduction</span>

    <div class="section-content">
      <img id="profile-pic" src="/images/profile_pic.webp" alt="Photo" />
      <div class="presentation">
        <span>
          Hello there ! I'm
          <br />

          <span class="name">
            <span class="highlight">Hakim</span> Abdouroihamane
          </span>
          <br />A passionate <span class="highlight">Web developer</span> who
          likes coding cool stuff :)
        </span>
        <div class="social">
          <span
            class="social-button"
            v-for="item in socialArr"
            :key="item.title"
          >
            <a :href="item.link" rel="noreferrer norelopener" target="_blank">
              <i :class="item.icon" />
            </a>
          </span>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">


class SocialIcon {
  title: string;
  link: string;
  icon: string;

  constructor(title: string, link: string, icon: string) {
    this.title = title;
    this.link = link;
    this.icon = icon;
  }
}

const socialArr = [
  new SocialIcon("Resume", "CV.pdf", "fa-solid fa-file-lines"),
  new SocialIcon(
    "Gitlab",
    "https://gitlab.com/alsagone",
    "fa-brands fa-gitlab"
  ),
  new SocialIcon(
    "Linkedin",
    "https://www.linkedin.com/in/hakim-abdouroihamane/",
    "fa-brands fa-linkedin-in"
  ),
  new SocialIcon(
    "Twitter",
    "https://twitter.com/alsagone",
    "fa-brands fa-twitter"
  ),
] as SocialIcon[];
</script>

<style scoped>
@import url("assets/styles/home.css");
</style>
