<template>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="#" class="nav-link" rel="norelopener noreferrer">HA</a>
      </li>
      <li v-for="item in navItemArr" :key="item.title" class="nav-item">
        <a :href="item.link" class="nav-link" rel="norelopener noreferrer">
          <i :class="item.icon" />
          <span class="link-text">{{ item.title }}</span>
        </a>
      </li>
    </ul>
  </nav>
</template>

<script setup lang="ts">
import data from "~/json/navbar.json";

class NavItem {
  title: string;
  link: string;
  icon: string;

  constructor(title: string, icon: string) {
    const tLower: string = title.toLocaleLowerCase();
    this.title = `.${tLower}()`;
    this.link = `#${tLower}`;
    this.icon = `fa-solid ${icon}`;
  }
}
const navItemArr = data.map(
  (element) => new NavItem(element.Name, element.Icon)
) as NavItem[];
</script>

<style lang="scss" scoped></style>
