<template>
  <section id="projects">
    <span class="section-title">Projects</span>
    <div class="section-content">
      <div id="projects-container">
        <div class="project" v-for="project in projects" :key="project.Id">
          <div class="presentation">
            <img :src="getProjectImage(project.Image)" :alt="project.Title" />

            <div class="project-attributes">
              <span class="project-title">{{ project.Title }}</span>
              <span class="project-description">
                {{ project.Description }}
              </span>
              <span class="project-tech">
                {{ getTechPrefix(project.Technologies.length) }}
                <span class="highlight">
                  {{ project.Technologies.join(", ") }}</span
                >
              </span>
              <span class="social">
                <span class="social-button">
                  <a
                    :href="project.URL"
                    rel="noreferrer norelopener"
                    :title="project.Title"
                    target="_blank"
                  >
                  <i class="fa-solid fa-up-right-from-square"></i>
                  </a>
                </span>
                <span class="social-button" v-if="project.Repository">
                  <a
                    :href="getRepository(project.Repository)"
                    rel="noreferrer norelopener"
                    title="Project's Git repository"
                    target="_blank"
                  >
                    <i class="fa-brands fa-gitlab" />
                  </a>
                </span>
              </span>
            </div>
          </div>
          <v-divider v-if="project.Id < projects.length" />
        </div>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">
import projects from "~/json/projects.json";
const getProjectImage = (projectName: string): string => {
  return `./images/previews/${projectName}.webp`;
};

const getRepository = (projectRepo: string): string => {
  return `https://gitlab.com/alsagone/${projectRepo}`;
};

const getTechPrefix = (nbTech: number): string => {
  const tech: string = nbTech > 1 ? "Technologies" : "Technology";
  return `${tech} used:`;
};
</script>

<style lang="scss" scoped>
@import "assets/styles/projects.css";
</style>
