<template>
    <section id="skills">
        <span class="section-title">Skills</span>

        <div class="section-content">
            <div id="skills-container">
                <div class="skill" v-for="skill in skillList" :key="skill.name">
                    <img :src="skill.getImage()" :alt="skill.name" />
                    <span class="skill-name">{{ skill.name }}</span>
                    <v-progress-circular
                        :value="skill.value"
                        color="#6131e0"
                        rotate="-90"
                        size="25"
                        width="4"
                    />
                </div>
            </div>
        </div>
    </section>
</template>

<script setup lang="ts">
import skillsArr from '~/json/skills.json';

class Skill {
    name: string;
    value: number;

    constructor(name: string, value: number) {
        this.name = name;
        this.value = value;
    }

    compareSkill = (otherSkill: Skill): number => {
        let compareValue: number;

        if (this.value < otherSkill.value) {
            compareValue = 1;
        } else if (this.value > otherSkill.value) {
            compareValue = -1;
        } else {
            compareValue = this.name > otherSkill.name ? 1 : -1;
        }

        return compareValue;
    };

    getImage = (): string => {
        const filename: string = this.name.startsWith('CSS')
            ? 'sass'
            : this.name.toLowerCase();
        return `./images/skills/${filename}.webp`;
    };
}

const skillList = skillsArr
                .map(element => new Skill(element.name, element.value));
</script>

<style lang="scss" scoped>
@import 'assets/styles/skills.css';
</style>
