@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  font-size: 16px;
  --text-primary: #07090f;
  --text-secondary: #531fff;
  --bg-primary: #eef0f2;
  --bg-secondary: #531fff;
  --transition-speed: 200ms;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body,
.v-application {
  min-height: 100%;
  background: var(--bg-primary) !important;
  color: var(--text-primary) !important;
  font-family: "Red Hat Display", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: $white;
}
body::-webkit-scrollbar-thumb {
  background: $purple;
}
main {
  margin-left: 5rem;
  padding: 1rem;
}
.highlight {
  font-weight: bold;
  color: $purple;
}

.italic {
  font-style: italic;
}

p {
  margin: 0 !important;
}

@media only screen and (max-width: 600px) {
  #container {
    margin-bottom: 5rem;
  }
}
