.name {
  font-size: 2rem;
}

#profile-pic {
  max-width: 256px;
  height: auto;
  filter: drop-shadow(0px 6px 12px rgba(83, 31, 255, 0.7));
}

@media only screen and (max-width: 600px) {
  #home {
    text-align: center;
  }
  #profile-pic {
    max-width: 150px;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=home.css.map */