.navbar {
  position: fixed;
  background: #6131e0;
  transition: width 200ms ease;
  z-index: 25;
}

.navbar-nav {
  list-style: none;
  padding: 0 !important;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
  color: #eef0f2;
  filter: grayscale(100%);
  transition: var(--transition-speed);
  display: flex;
  justify-content: center;
}
.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
  filter: grayscale(0%);
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
  color: #eef0f2;
  text-decoration: none;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link i {
  min-height: 1.5rem;
  margin: 0 1.5rem;
  color: #8aea92;
}

.logo {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: #eef0f2;
  background: #5220d7;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  main {
    margin: 0;
  }
  .logo {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
}/*# sourceMappingURL=navbar.css.map */