@import 'variables.scss';

.presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 10px 0px;
}

.presentation img {
    border-radius: 10px;
    border: 1px solid $purple;
    max-height: 70%;
    width: auto;
}

.project-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.project-attributes {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 1rem;
}

@media only screen and (max-width: 600px) {
    .presentation img {
        max-width: 90%;
        height: auto;
    }

    .presentation {
        flex-direction: column;
    }
}
