#skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 125px;
}

.skill img {
    max-height: 35px;
    width: auto;
}

@media only screen and (max-width: 600px) {
    #skills-container {
        flex-wrap: wrap;
    }
}
