.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.social-button a {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-button i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
  max-height: 1rem;
}

.social-button a {
  display: inline-block;
}

.social-button a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #6131e0, #a286ed);
  transition: all 265ms ease-out;
}

.social-button a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-button a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #6e42e3;
  background: -webkit-linear-gradient(45deg, #6131e0, #a286ed);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}/*# sourceMappingURL=socialButtons.css.map */